{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "ContractPodAi API v1.0"
    },
    "host": "clouduat.contractpod.com",
    "basePath": "/cpaimt_api",
    "schemes": ["https"],
    "paths": {
        "/api/{tenantname}/v{version}/activity/statuses": {
            "get": {
                "tags": ["Activity"],
                "operationId": "Activity_GetActivityStatuses",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "requestorUsername",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/activity/get-pending": {
            "get": {
                "tags": ["Activity"],
                "operationId": "Activity_GetPendingActivities",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "requestorUsername",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "userId",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/activity/download": {
            "get": {
                "tags": ["Activity"],
                "operationId": "Activity_DownloadActivityFile",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.activityId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.requestorUsername",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/activity/getbyrequestid": {
            "get": {
                "tags": ["Activity"],
                "operationId": "Activity_GetByRequestId",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "requestorUsername",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "requestId",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "isCustomerActivity",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/activity": {
            "get": {
                "tags": ["Activity"],
                "operationId": "Activity_GetActivity",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.activityMonth",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.activityYear",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.startWeekDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    }, {
                        "name": "filter.endWeekDate",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    }, {
                        "name": "filter.assignedToId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.activityId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.requestorUsername",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            },
            "post": {
                "tags": ["Activity"],
                "operationId": "Activity_CreateActivity",
                "consumes": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "application/x-www-form-urlencoded", "multipart/form-data"],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ContractPod.Product.Library.Models.Activity.Activity"
                        }
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/activity/{id}": {
            "put": {
                "tags": ["Activity"],
                "operationId": "Activity_UpdateActivity",
                "consumes": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "application/x-www-form-urlencoded", "multipart/form-data"],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ContractPod.Product.Library.Models.Activity.Activity"
                        }
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            },
            "delete": {
                "tags": ["Activity"],
                "operationId": "Activity_DeleteActivity",
                "consumes": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "application/x-www-form-urlencoded", "multipart/form-data"],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ContractPod.Product.Library.Models.Shared.RequestorUsernameParam"
                        }
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/activity/upload": {
            "post": {
                "tags": ["Activity"],
                "operationId": "Activity_UploadActivityFile",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/activity/activity-email": {
            "post": {
                "tags": ["Activity"],
                "operationId": "Activity_TriggerSendActivityEmail",
                "consumes": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "application/x-www-form-urlencoded", "multipart/form-data"],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ContractPod.Product.Library.Models.Activity.SendActivityEmailRequest"
                        }
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/activity/snooze-dismiss-activity": {
            "post": {
                "tags": ["Activity"],
                "operationId": "Activity_SnoozeDismissActivity",
                "consumes": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "application/x-www-form-urlencoded", "multipart/form-data"],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ContractPod.Product.Library.Models.Activity.SnoozeDismissActivityRequest"
                        }
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/activity/files/{id}": {
            "delete": {
                "tags": ["Activity"],
                "operationId": "Activity_DeleteActivityFiles",
                "consumes": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "application/x-www-form-urlencoded", "multipart/form-data"],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ContractPod.Product.Library.Models.Shared.RequestorUsernameParam"
                        }
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/activitytype": {
            "get": {
                "tags": ["ActivityType"],
                "operationId": "ActivityType_GetActivityTypes",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.pageNo",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.perPage",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.search",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.direction",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.sortOn",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.activityTypeId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.noPagination",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }, {
                        "name": "filter.requestorUsername",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/advancedsearch/searchsuggestions": {
            "get": {
                "tags": ["AdvancedSearch"],
                "operationId": "AdvancedSearch_GetSearchSuggestions",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.queryText",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.topResults",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.requestorUsername",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/advancedsearch/searchhighlight": {
            "get": {
                "tags": ["AdvancedSearch"],
                "operationId": "AdvancedSearch_GetSearchHighlight",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.queryText",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.fullQuerySyntax",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }, {
                        "name": "filter.matchAllTerms",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }, {
                        "name": "filter.documentType",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "enum": ["Version", "Attachment"]
                    }, {
                        "name": "filter.fileName",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.maxHighlights",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.requestorUsername",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/advancedsearch/searchbydocument": {
            "get": {
                "tags": ["AdvancedSearch"],
                "operationId": "AdvancedSearch_GetDocument",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.search",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.pageNo",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.perPage",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.getAll",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.expiryFrom",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.expiryTo",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.requestFrom",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.requestTo",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.signatureFrom",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.signatureTo",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.effectiveFrom",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.effectiveTo",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.searchFor",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.applicationTypeId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.clientId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.contractStatusId",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": ["ErrorStatus", "ContractGenerationRequestSubmitted", "NewContractReviewrequestSubmitted", "ContractRenewalRequestSubmitted", "ContractRevisionrequestSubmitted", "ContractTerminationrequestSubmitted", "Requestinprogress", "Awaitingapproval", "Awaitingsignatures", "ActiveContract", "ExpiredContract", "TerminatedContract", "NegotiationStage", "OnHold", "AwaitingApprovalRiskCompliance"]
                    }, {
                        "name": "filter.contractId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.departmentId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.requestUserId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.organizationId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.assignToId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.contractValue",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    }, {
                        "name": "filter.useFullSyntax",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }, {
                        "name": "filter.requestorUsername",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/advancedsearch/searchbymetadata": {
            "get": {
                "tags": ["AdvancedSearch"],
                "operationId": "AdvancedSearch_Get",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.search",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.pageNo",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.perPage",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.getAll",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.expiryFrom",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.expiryTo",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.requestFrom",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.requestTo",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.signatureFrom",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.signatureTo",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.effectiveFrom",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.effectiveTo",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.searchFor",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.applicationTypeId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.clientId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.contractStatusId",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": ["ErrorStatus", "ContractGenerationRequestSubmitted", "NewContractReviewrequestSubmitted", "ContractRenewalRequestSubmitted", "ContractRevisionrequestSubmitted", "ContractTerminationrequestSubmitted", "Requestinprogress", "Awaitingapproval", "Awaitingsignatures", "ActiveContract", "ExpiredContract", "TerminatedContract", "NegotiationStage", "OnHold", "AwaitingApprovalRiskCompliance"]
                    }, {
                        "name": "filter.contractId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.departmentId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.requestUserId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.organizationId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.assignToId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.contractValue",
                        "in": "query",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    }, {
                        "name": "filter.useFullSyntax",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }, {
                        "name": "filter.requestorUsername",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/dashboard/GetContractStat": {
            "get": {
                "tags": ["Analytics"],
                "operationId": "Analytics_GetContractStat",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.tenure",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.requestorUsername",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/dashboard/call-to-actions": {
            "get": {
                "tags": ["Analytics"],
                "operationId": "Analytics_GetDashboardCallToActions",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.applicationId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.requestorUsername",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/dashboard/ApplicationTypeVsContractStatus": {
            "get": {
                "tags": ["Analytics"],
                "operationId": "Analytics_GetApplicationTypeVsContractStatus",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.tenure",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.requestorUsername",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/dashboard/Summary": {
            "get": {
                "tags": ["Analytics"],
                "operationId": "Analytics_GetDashboardSummary",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.applicationId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.tenure",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.requestorUsername",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/dashboard/geographical-analysis": {
            "get": {
                "tags": ["Analytics"],
                "operationId": "Analytics_GetDashboardGeographicalAnalysis",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.tenure",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.applicationId",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.requestorUsername",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/dashboard/application-types-summary": {
            "get": {
                "tags": ["Analytics"],
                "operationId": "Analytics_GetDashboardApplicationTypesSummary",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.tenure",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.applicationId",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.requestorUsername",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/dashboard/application-statuses-summary": {
            "get": {
                "tags": ["Analytics"],
                "operationId": "Analytics_GetDashboardApplicationStatusesSummary",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.tenure",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.applicationTypeId",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.applicationId",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.requestorUsername",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/applications/{applicationId}": {
            "get": {
                "tags": ["Applications"],
                "operationId": "Applications_GetById",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/applications/forconfiguration": {
            "get": {
                "tags": ["Applications"],
                "operationId": "Applications_GetAllForConfiguration",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/applications/dashboard-settings": {
            "get": {
                "tags": ["Applications"],
                "operationId": "Applications_GetDashboardSettings",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/applications/{applicationId}/status": {
            "get": {
                "tags": ["Applications"],
                "operationId": "Applications_GetActiveWorkflowStatus",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/applications/{applicationId}/dashboard-visibility": {
            "get": {
                "tags": ["Applications"],
                "operationId": "Applications_GetDashboardVisibility",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/applications/{id}/metadata": {
            "get": {
                "tags": ["Applications"],
                "operationId": "Applications_GetMetadata",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "requestorUsername",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/launcher/applications/application-exists": {
            "get": {
                "tags": ["Applications"],
                "operationId": "Applications_IsApplicationExists",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "requestorUsername",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/launcher/applications/applicationtype-exists": {
            "get": {
                "tags": ["Applications"],
                "operationId": "Applications_IsApplicationTypeExists",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "requestorUsername",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "name",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/applications": {
            "get": {
                "tags": ["Applications"],
                "operationId": "Applications_GetAll",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.pageNo",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.perPage",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.search",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.applicationId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.hasWorkflow",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }, {
                        "name": "filter.requestorUsername",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            },
            "put": {
                "tags": ["Applications"],
                "operationId": "Applications_Update",
                "consumes": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "application/x-www-form-urlencoded", "multipart/form-data"],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "application",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ContractPod.Product.BusinessLogic.Models.Application"
                        }
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            },
            "post": {
                "tags": ["Applications"],
                "operationId": "Applications_Create",
                "consumes": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "application/x-www-form-urlencoded", "multipart/form-data"],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "application",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ContractPod.Product.BusinessLogic.Models.Application"
                        }
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/launcher/applications": {
            "post": {
                "tags": ["Applications"],
                "operationId": "Applications_Create",
                "consumes": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "application/x-www-form-urlencoded", "multipart/form-data"],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "model",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ContractPod.Product.Launcher.Models.ApplicationModel"
                        }
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/applicationtype/locale/{applicationTypeId}": {
            "get": {
                "tags": ["ApplicationType"],
                "operationId": "ApplicationType_GetApplicationTypeLocale",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "applicationTypeId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/applicationtype/applicationStatus/{applicationTypeId}": {
            "get": {
                "tags": ["ApplicationType"],
                "operationId": "ApplicationType_GetApplicationStatuses",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "applicationTypeId",
                        "in": "path",
                        "required": true,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/applicationtype/apptypefeatures": {
            "get": {
                "tags": ["ApplicationType"],
                "operationId": "ApplicationType_ApplicationTypeFeatures",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "requestorUsername",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/applicationtype/apptypecalltoaction": {
            "get": {
                "tags": ["ApplicationType"],
                "operationId": "ApplicationType_ApplicationTypeCallToAction",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "requestorUsername",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/applicationtype/apptypeintakefields": {
            "get": {
                "tags": ["ApplicationType"],
                "operationId": "ApplicationType_ApplicationTypeField",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "requestorUsername",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/applicationtype/apptyperequesttypes": {
            "get": {
                "tags": ["ApplicationType"],
                "operationId": "ApplicationType_ApplicationTypeRequestType",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "requestorUsername",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/applicationtype/getdirecttorequestdetailsonsubmit": {
            "get": {
                "tags": ["ApplicationType"],
                "operationId": "ApplicationType_GetDirectToRequestDetailsOnSubmit",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "model.applicationTypeId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "model.requestType",
                        "in": "query",
                        "required": false,
                        "type": "string",
                        "enum": ["Generate", "Revise", "Renew", "AutoRenewal", "Review", "Terminate", "Delete", "Amend"]
                    }, {
                        "name": "model.isUploaded",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }, {
                        "name": "model.requestorUsername",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
                        "description": "access token",
                        "required": true,
                        "type": "string",
                        "default": "Bearer "
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [{
                        "oauth2": []
                    }
                ]
            }
        },
        "/api/{tenantname}/v{version}/applicationtype": {
            "get": {
                "tags": ["ApplicationType"],
                "operationId": "ApplicationType_GetAll",
                "consumes": [],
                "produces": ["application/json", "text/json", "application/scim+json", "application/xml", "text/xml", "multipart/form-data"],
                "parameters": [{
                        "name": "tenantname",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "version",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "filter.pageNo",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.perPage",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.search",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "filter.applicationTypeId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.applicationId",
                        "in": "query",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }, {
                        "name": "filter.hasWorkflow",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }, {
                        "name": "filter.requestorUsername",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }, {
                        "name": "Authorization",
                        "in": "header",
[...]
