{
	"swagger": "2.0",
	"info": {
		"version": "v1",
		"title": "ContractPodAi API v1.0"
	},
	"host": "clouduat.contractpod.com",
	"basePath": "/cpaimt_api",
	"schemes": [
		"https"
	],

	"paths": {
		"/api/{tenantname}/v{version}/activity/statuses": {
			"get": {
				"tags": [
					"Activity"
				],
				"operationId": "Activity_GetActivityStatuses",
				"description": "Get Activity Status",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"application/scim+json",
					"application/xml",
					"text/xml",
					"multipart/form-data"
				],
				"parameters": [{
					"name": "requestorUsername",
					"in": "query",
					"required": true,
					"type": "string"
				}, {
					"name": "tenantname",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "version",
					"in": "path",
					"required": true,
					"type": "string"
				}, {
					"name": "Authorization",
					"in": "header",
					"description": "access token",
					"required": true,
					"type": "string",
					"default": "Bearer "
				}],
				"responses": {
					"200": {
						"description": "OK",


						"schema": {
							"$ref": "#/definitions/ContractPod.Product.Library.Models.V2.RolePermission.RolePermissionFilterResponse"
						}


					}

				}
			}
		}
	},

	"definitions": {
		"ContractPod.Product.Library.Models.V2.RolePermission.RolePermissionFilterResponse": {
			"type": "object",
			"properties": {
				"applicationFilter": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"applicationIdFilter": {
					"type": "array",
					"items": {
						"format": "int32",
						"type": "integer"
					}
				},
				"applicationTypeFilter": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"applicationTypeIdFilter": {
					"type": "array",
					"items": {
						"format": "int32",
						"type": "integer"
					}
				},
				"resourceFilter": {
					"type": "array",
					"items": {
						"type": "string"
					}
				}
			}
		}
	},

	"security": [{
		"oauth2": []
	}]
}